    <script>
      var menus = document.querySelectorAll(".sidebar a");
      menus.forEach((a) => {
        a.addEventListener("click", (e) => {
          menus.forEach((d) => d.classList.remove("active"));
          e.target.classList.add("active");
        });
      });
    </script>
  </body>
</html>
